<!-- ATTRIBUTES!!! -->
<div class="row">
  <div class="s5 col"><strong>Status</strong></div>
  <div class="s7 col" ng-bind="resource.status" ng-class="resource.status_list[resource.status.toLowerCase()]"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Active Services</strong></div>
  <div class="s7 col" ng-bind="resource.active_services_count"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Instances</strong></div>
  <div class="s7 col" ng-bind="resource.registered_container_instances_count"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Running tasks</strong></div>
  <div class="s7 col" ng-bind="resource.running_tasks_count"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Pending tasks</strong></div>
  <div class="s7 col" ng-bind="resource.pending_tasks_count"></div>
</div>

<!-- Connections -->
<div ng-show="info.services.length > 0">
  <div class="row">
    <div class="s12 col"><h5>Services</h5></div>
  </div>
  <div ng-repeat="service in info.services | orderBy:'name' track by $index">
    <div class="row">
      <div class="s12 col attributes-name"><strong><a ng-click="selectResource(service)">{{service.name}}</a></strong></div>
    </div>
  </div>
</div>

<div ng-show="info.tasks.length > 0">
  <div class="row">
    <div class="s12 col"><h5>Tasks</h5></div>
  </div>
  <div ng-repeat="task in info.tasks | orderBy:'name'">
    <div class="row">
      <div class="s4 col attributes-name truncate"><strong><a ng-click="selectResource(task)">{{task.name}}</a></strong></div>
      <div class="s8 col attributes-name truncate" ng-bind="task.task_definition"></div>
      <div class="s12 col">
        ∟ <span class="label" ng-bind="task.last_status" ng-class="task.label_status_list[task.status]"></span>
      </div>
    </div>
  </div>
</div>

<div ng-show="info.container_instances.length > 0">
  <div class="row">
    <div class="s12 col"><h5>Container Instances</h5></div>
  </div>
  <div ng-repeat="ci in info.container_instances">
    <div class="row">
      <div class="s12 col attributes-name truncate"><strong><a ng-click="selectResource(ci)">{{ci.name}}</a></strong></div>
    </div>
  </div>
</div>
