<div class="row" ng-if="resource.description">
  <div class="s12 col"><strong>Description</strong></div>
  <div class="s12 col attributes-name">{{resource.description}}</div>
</div>

<div class="row">
  <div class="s12 col"><strong>Application</strong></div>
  <div class="s12 col attributes-name" ng-if="info.application">
    <svg><use xlink:href="{{info.application.image}}" /></svg>
    <a ng-click="selectResource(info.application)">{{resource.application_name}}</a>
  </div>
  <div class="s12 col attributes-name" ng-if="!info.application">{{resource.application_name}}</div>
</div>

<div class="row" ng-if="resource.description">
  <div class="s12 col"><strong>Build Arn</strong></div>
  <div class="s12 col attributes-name">{{resource.build_arn}}</div>
</div>

<div class="row">
  <div class="s12 col"><strong>Date Created</strong></div>
  <div class="s12 col attributes-name">{{resource.date_created}}</div>
</div>

<div class="row">
  <div class="s12 col"><strong>Date Updated</strong></div>
  <div class="s12 col attributes-name">{{resource.date_updated}}</div>
</div>

<div class="row">
  <div class="s12 col"><strong>Status</strong></div>
  <div class="s12 col attributes-name">{{resource.status}}</div>
</div>

<div class="row" ng-show="info.beanstalk_environment">
  <div class="s12 col"><h5>Environment</h5></div>
  <div class="s12 col attributes-name">
    <svg><use xlink:href="{{info.beanstalk_environment.image}}" /></svg>
    <a ng-click="selectResource(info.beanstalk_environment)">{{info.beanstalk_environment.name}}</a>
  </div>
</div>

