<div class="row">
  <div class="s12 col"><h5>Backend pool</h5></div>
</div>
<div class="row" ng-show="!info.backend_address_pools.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="bap in info.backend_address_pools">
  <div class="s12 col end attributes-name">
    {{bap.name}}
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Frontend IP pool</h5></div>
</div>
<div class="row" ng-show="!info.frontend_ip_addresses.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="fia in info.frontend_ip_addresses">
  <div ng-repeat="pia in fia.public_ip_address">
    <div class="s12 col end attributes-name">
      {{fia.name}} - {{pia.ip_address}} ({{pia.name}})
    </div>
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Rules</h5></div>
</div>
<div class="row" ng-show="!info.rules.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="rule in info.rules">
  <div class="s12 col end attributes-name">
    {{rule.name}} ({{rule.rule_type}})
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Health probe</h5></div>
</div>
<div class="row" ng-show="!info.probes.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="probe in info.probes">
  <div class="s12 col end attributes-name">
    {{probe.name}} ({{probe.protocol}}:{{probe.interval}})
  </div>
</div>


