.report-sheet {
  z-index: $zindex-designer;
  color: #9B9B9B;
  height: 100%;
}

.report-heading {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9999;

  #exporter-dropdown {
    margin-left: -277px;

    ul {
      margin: 0;
    }

    .alert-box {
      a {
        color: white;
        font-size: 11px;
        line-height: 11px;
      }

      .success {
        background: #4CAF50;
      }

    }

  }
  .export-controls{
    background: #393939;
    
    p {
      text-align: justify;
    }
  }
}

.report-stuff {
  width: 100%;
  background: #393939;
  padding: 5px;
  padding-left: rem-calc(16);
}

.report-stuff-title {
  font-size: rem-calc(18);
  font-weight: bold;
}

.reporter-app {
  padding: rem-calc(64);
  margin: rem-calc(70) rem-calc(188);
  box-shadow: 0 rem-calc(4) rem-calc(8) 0 rgba(0, 0, 0, 0.2), 0 rem-calc(6) rem-calc(20) 0 rgba(0, 0, 0, 0.19);
}

.display-mobile{
  display: none;
}
.tui-chart .tui-chart-tooltip-body{ 
  .column{
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 7px;
  }
  
  .tui-chart-tooltip-value {
    padding: 0px 12px;
  }
}

@media only screen and (max-width: 1210px) {
  .reporter-app {
    margin: 0px !important;
    box-shadow: 0px 0px;
  }
}

@media only screen and (max-width: 50em) {
  .reporter-app {
    padding: 4rem 1rem;
  }

  .logged_in {
    background-color: none;
  }

  .display-mobile {
    display: block;
    flex: 1;
  }

  .report-heading {
    margin-top: -50px;
    display: none;
  }

  img.report-dot-map  {
    width: 498px !important;
  };

  .report .report-map .report-dot-map img {
    width: rem-calc(10) !important;
  }

  .export-controls, .sheet{
    display: none;
  }
}

input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: auto !important;
}

.reporter-export {
  margin: 0;
  padding-bottom: 0;
  box-shadow: 0px 0px;
}

.report {
  background: #ffffff;
  max-width: 1200px;

  pre {
    word-break: break-word;
    white-space: pre-wrap;
  }

  .head{
    float: right;
  }
  .print-check {
    color: #98d498;
  }
  .print-x {
    color: #fa5353;
  }

  .hava-logo {
    float: left;
    width: 12rem;
    height: 9rem;
    margin: 0.5rem 1rem;
  }

  .panel {
    background: #fafafa;
    padding: rem-calc(8);
    margin: rem-calc(8) 0;
  }

  .round {
    color: white;
    border-radius: 1000px;
    padding: 0.25rem 0.5rem 0.25rem;
    font-size: rem-calc(11);
  }

  .report-map {
    position: relative;

    img.report-dot-map   {
      width: 901px;
    };

    .report-map-pin {
      position: absolute;
      display: inline-block;
      
      img {
        width: rem-calc(16);
      };
      small{
        background: #e3e3e3;
      }
    }    
  }

  table {
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.25rem;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;

    thead {
      background: #F5F5F5;
      tr th {
        font-weight: bold;
        padding: 0.5625rem 0.625rem;
      }
    }
    tr td {
      font-size: 0.875rem;
      padding: 0.5625rem 0.625rem;
      text-align: left;
    }
  }
}

.tui-chart .tui-chart-series-custom-event-area {
  z-index: 300;
}

.tui-chart .tui-chart-chartExportMenu-area {
  z-index: 300;
}