<!-- ATTRIBUTES!!! -->
<div class="row">
  <div class="s5 col"><strong>Fault domains</strong></div>
  <div class="s7 col" ng-bind="resource.platform_fault_domain_count"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Update domains</strong></div>
  <div class="s7 col" ng-bind="resource.platform_update_domain_count"></div>
</div>

<div class="row">
  <div class="s12 col"><h5>Virtual Machines</h5></div>
</div>
<div class="row" ng-show="!info.virtual_machines.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="vm in info.virtual_machines track by $index">
  <div class="s10 col end attributes-name">
    <svg><use xlink:href="{{vm.image}}" /></svg>
    <a ng-click="selectResource(vm)">{{vm.name}}</a>
  </div>
</div>
