<!-- ATTRIBUTES!!! -->
<div class="row">
  <div class="s12 col">
    {{resource.storage_profile.image_reference.publisher}}<br />
    <h4><strong>{{resource.storage_profile.image_reference.offer}}</strong> {{resource.storage_profile.image_reference.sku}}</h4>
  </div>
</div>
<div class="row">
  <div class="s6 col"><strong>Image Version</strong></div>
  <div class="s6 col" ng-bind="resource.storage_profile.image_reference.version"></div>
</div>
<div class="row">
  <div class="s6 col"><strong>Operating System</strong></div>
  <div class="s6 col" ng-bind="resource.storage_profile.os_disk.os_type"></div>
</div>
<div class="row">
  <div class="s6 col"><strong>Size</strong></div>
  <div class="s6 col" ng-bind="resource.vm_size"></div>
</div>
<div class="row">
  <div class="s6 col"><strong>Disk Caching</strong></div>
  <div class="s6 col" ng-bind="resource.storage_profile.os_disk.caching"></div>
</div>

<div class="row">
  <div class="s12 col"><h5>Data Disks</h5></div>
</div>
<div class="row" ng-show="!resource.storage_profile.data_disks.length">
  <div class="s12 col">None</div>
</div>
<div ng-repeat="disk in resource.storage_profile.data_disks" class="attributes-sublist">
  <div class="row">
    <div class="s12 col"><strong ng-bind="disk.name"></strong> &nbsp;&nbsp;&nbsp; {{disk.disk_size_gb}} GB</div>
  </div>
  <div class="row">
    <div class="s12 col">
      <small>
        ∟ <strong>Caching:</strong>
        <span ng-bind="disk.caching"></span>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="s12 col">
      <small>
        ∟ <strong>Create Option:</strong>
        <span ng-bind="disk.create_option"></span>
      </small>
    </div>
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Virtual Machine Extensions</h5></div>
</div>
<div ng-show="!info.extensions.length">
  <div class="row">
    <div class="s12 col">None</div>
  </div>
</div>
<div ng-repeat="e in info.extensions" class="attributes-sublist">
  <div class="row">
    <div class="s12 col end attributes-name">
      <strong ng-bind="e.name"></strong>
    </div>
  </div>
  <div class="row">
    <div class="s12 col">
      <small>
        ∟ <strong>Type:</strong>
        <span ng-bind="e.virtual_machine_extension_type"></span>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="s12 col">
      <small>
        ∟ <strong>Publisher:</strong>
        <span ng-bind="e.publisher"></span>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="s12 col">
      <small>
        ∟ <strong>Version:</strong>
        <span ng-bind="e.type_handler_version"></span>
      </small>
    </div>
  </div>
  <div class="row" ng-show="e.auto_upgrade_minor_version">
    <div class="s12 col">
      <small>
        ∟ <strong>Auto Update Minor Version</strong>
        <span class="octicon octicon-check good"></span>
      </small>
    </div>
  </div>
</div>

<div ng-show="info.availability_set">
  <div class="row">
    <div class="s12 col"><h5>Availability Set</h5></div>
  </div>
  <div class="row">
    <div class="s12 col end attributes-name">
      <svg><use xlink:href="{{info.availability_set.image}}" /></svg>
      <a ng-click="selectResource(info.availability_set)">{{info.availability_set.name}}</a>
    </div>
  </div>
</div>

<div ng-show="info.virtualmachine_scaleset.length">
  <div class="row">
    <div class="s12 col"><h5>Virtual Machine Scale Set</h5></div>
  </div>
  <div class="row" ng-repeat="vm_ss in info.virtualmachine_scaleset">
    <div class="s12 col end attributes-name">
      <svg><use xlink:href="{{vm_ss.image}}" /></svg>
      <a ng-click="selectResource(vm_ss)">{{vm_ss.name}}</a>
    </div>
  </div>
</div>

<div ng-show="info.network_interfaces.length">
  <div class="row">
    <div class="s12 col"><h5>Network Interfaces</h5></div>
  </div>
  <div class="row" ng-repeat="nic in info.network_interfaces track by $index">
    <div class="s12 col end attributes-name">
      <svg><use xlink:href="{{nic.image}}" /></svg>
      <a ng-click="selectResource(nic)">{{nic.name}}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Network Security Groups</h5></div>
</div>
<div class="row" ng-show="!info.security_groups.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="sg in info.security_groups">
  <div class="s12 col end attributes-name">
    <svg><use xlink:href="{{sg.image}}" /></svg>
    <a ng-click="selectResource(sg)">{{sg.name}}</a>
  </div>
</div>

<div class="row">
  <div class="s12 col"><h5>Application Security Groups</h5></div>
</div>
<div class="row" ng-show="!info.application_security_groups.length">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="app_sg in info.application_security_groups">
  <div class="s12 col end attributes-name">
    <svg><use xlink:href="{{app_sg.image}}" /></svg>
    <a ng-click="selectResource(app_sg)">{{app_sg.name}}</a>
  </div>
</div>
