<!-- ATTRIBUTES -->
<div class="row" ng-show="resource.version">
  <div class="s7 col"><strong>Version</strong></div>
  <div class="s5 col" ng-bind="resource.version"></div>
</div>
<div class="row" ng-show="resource.api_key_source">
  <div class="s7 col"><strong>API Key Source</strong></div>
  <div class="s5 col" ng-bind="resource.api_key_source"></div>
</div>
<div class="row">
  <div class="s12 col"><strong>Description</strong></div>
  <div class="s12 col" ng-bind="resource.description"></div>
</div>
<div class="row">
  <div class="s12 col"><strong>Created Date</strong></div>
  <div class="s12 col" ng-bind="resource.created_date | date:'yyyy-MM-dd HH:mm:ss'"></div>
</div>
<div class="row" ng-show="resource.warnings">
  <div class="s7 col"><strong>Warnings</strong></div>
  <div class="s5 col" ng-bind="resource.warnings"></div>
</div>
<div class="row" ng-show="resource.binary_media_types">
  <div class="s7 col"><strong>Binary Media Types</strong></div>
  <div class="s5 col" ng-bind="resource.binary_media_types"></div>
</div>
<div class="row" ng-show="resource.minimum_compression_size">
  <div class="s7 col"><strong>Minimum Compression Size</strong></div>
  <div class="s5 col" ng-bind="resource.minimum_compression_size"></div>
</div>
<div class="row" ng-show="resource.endpoint_configuration_types">
  <div class="s7 col"><strong>Endpoint Configuration Types</strong></div>
  <div class="s5 col" ng-bind="resource.endpoint_configuration_types"></div>
</div>
<div class="row" ng-show="info.policy">
  <div class="s12 col"><strong>Policy</strong></div>
  <div class="s12 col">
    <pre ng-bind="info.policy" style="overflow: scroll"></pre>
  </div>
</div>

<div ng-show="resource.validators.length">
  <div class="row">
    <div class="s12 col"><h5>validators</h5></div>
  </div>
  <div ng-repeat="validator in resource.validators | orderBy:'name' track by $index">
    <div class="row" ng-show="response.name">
      <div class="s7 col"><strong>Name</strong></div>
      <div class="s5 col attributes-name">{{validator.name}}</div>
    </div>
    <div class="row">
      <div class="s7 col"><strong>Validate Request Body</strong></div>
      <span class="octicon octicon-check good" ng-show="validator.validate_request_body"></span>
      <span class="octicon octicon-x bad" ng-show="!validator.validate_request_body"></span>
    </div>
    <div class="row">
      <div class="s7 col"><strong>Validate Request Parameters</strong></div>
      <span class="octicon octicon-check good" ng-show="validator.validate_request_parameters"></span>
      <span class="octicon octicon-x bad" ng-show="!validator.validate_request_parameters"></span>
    </div>
  </div>
</div>

<div ng-show="info.resource_tree">
  <div class="row">
    <div class="s12 col"><h5>Resources</h5></div>
  </div>
  <div api-resource-tree resource="info.resource_tree"></div>
</div>

<div ng-show="info.stages.length">
  <div class="row">
    <div class="s12 col"><h5>Stages</h5></div>
  </div>
  <div ng-repeat="st in info.stages | orderBy:'name' track by $index">
    <div class="row">
      <div class="s12 col attributes-name end">
        <svg><use xlink:href="{{st.image}}" /></svg>
        <a ng-click="selectResource(st)">{{st.name}}</a><br/>
        <small>Deployments</small>
          <div class="row" ng-repeat="dp in info.deployments_map[st.provider_id] track by $index">
            <div class="s12 col end">
                <small>∟ </small> {{dp.description}}: {{dp.created_date}}
            </div>
          </div>
      </div>
    </div>
    <br />
  </div>
</div>

<div ng-show="info.deployments.length">
  <div class="row">
    <div class="s12 col"><h5>All Deployments</h5></div>
  </div>
  <div ng-repeat="dp in info.deployments | orderBy:'created_date' track by $index">
    <div class="row">
      <div class="s12 col">
        ∟ {{dp.description}} <small>{{dp.created_date}}</small>
      </div>
    </div>
  </div>
</div>

<div ng-show="info.authorizers.length">
  <div class="row">
    <div class="s12 col"><h5>Authorizers</h5></div>
  </div>
  <div ng-repeat="autho in info.authorizers | orderBy:'name' track by $index">
    <div class="row">
      <div class="s12 col attributes-name"><svg><use xlink:href="{{autho.image}}" /></svg><a ng-click="selectResource(autho)">{{autho.name}}</a></div>
    </div>
  </div>
</div>

<div ng-show="info.models.length">
  <div class="row">
    <div class="s12 col"><h5>Models</h5></div>
  </div>
  <div ng-repeat="md in info.models | orderBy:'name' track by $index">
    <div class="row">
      <div class="s12 col attributes-name"><svg><use xlink:href="{{md.image}}" /></svg><a ng-click="selectResource(md)">{{md.name}}</a></div>
    </div>
  </div>
</div>