<div class="row">
  <div class="s7 col"><strong>Tier</strong></div>
  <div class="s5 col" ng-bind="resource.sku.tier"></div>
</div>
<div class="row">
  <div class="s7 col"><strong>Max Throughput Units</strong></div>
  <div class="s5 col" ng-bind="resource.maximum_throughput_units"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Kafka</strong></div>
  <div class="s7 col">
    <span class="octicon octicon-check good" ng-show="resource.kafka_enabled"></span>
    <span class="octicon octicon-x bad" ng-show="!resource.kafka_enabled"></span>
  </div>
</div>
<div class="row">
  <div class="s5 col"><strong>Auto Inflate</strong></div>
  <div class="s7 col">
    <span class="octicon octicon-check good" ng-show="resource.is_auto_inflate_enabled"></span>
    <span class="octicon octicon-x bad" ng-show="!resource.is_auto_inflate_enabled"></span>
  </div>
</div>
<div class="row">
  <div class="s12 col"><strong>Created</strong></div>
  <div class="s12 col" ng-bind="resource.created_at"></div>
</div>
<div class="row">
  <div class="s12 col"><strong>Updated</strong></div>
  <div class="s12 col" ng-bind="resource.updated_at"></div>
</div>
<div class="row">
  <div class="s12 col"><strong>Metric ID</strong></div>
  <div class="s12 col" ng-bind="resource.metric_id"></div>
</div>
<div class="row">
  <div class="s12 col"><strong>Service Bus Endpoint</strong></div>
  <div class="s12 col word-wrap" ng-bind="resource.service_bus_endpoint"></div>
</div>

<div class="row">
  <div class="s12 col"><h5>Event Hubs</h5></div>
</div>
<div class="row" ng-show="info.event_hubs.length === 0">
  <div class="s12 col">None</div>
</div>
<div class="row" ng-repeat="hub in info.event_hubs | orderBy:'name' track by $index">
  <div class="s12 col end attributes-name">
    <svg><use xlink:href="{{hub.image}}" /></svg>
    <a ng-click="selectResource(hub)">{{hub.name}}</a>
  </div>
</div>
