<div class="row sub-title">
  <div class="s12 col">
    <small ng-if="resource.project">
      <strong>Project</strong><br />
      <span ng-bind="resource.project"></span>
    </small>
  </div>

</div>

<div class="row" ng-show="resource.labels">
  <div class="s5 col">
    <strong>Labels</strong>
  </div>

  <div class="s7 col" ng-bind="resource.labels">
  </div>
</div>


<div class="row" ng-show="resource.size_gb">
  <div class="s5 col">
    <strong>Size Gb</strong>
  </div>

  <div class="s7 col" ng-bind="resource.size_gb">
  </div>
</div>

<div class="row" ng-show="resource.region">
  <div class="s5 col">
    <strong>Region</strong>
  </div>

  <div class="s7 col" ng-bind="resource.region">
  </div>
</div>

<div class="row" ng-show="resource.status">
  <div class="s5 col">
    <strong>Status</strong>
  </div>

  <div class="s7 col" ng-bind="resource.status">
  </div>
</div>

<div class="row" ng-show="resource.zone">
  <div class="s5 col">
    <strong>Zone</strong>
  </div>

  <div class="s7 col" ng-bind="resource.zone">
  </div>
</div>

<div class="row" ng-show="resource.options">
  <div class="s5 col">
    <strong>Options</strong>
  </div>

  <div class="s7 col" ng-bind="resource.options">
  </div>
</div>

<div class="row" ng-show="resource.disk_encryption_key">
  <div class="s12 col">
    <strong>Disk Encryption Key</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.disk_encryption_key">
  </div>
</div>

<div class="row" ng-show="resource.physical_block_size_bytes">
  <div class="s12 col">
    <strong>Physical Block Size Bytes</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.physical_block_size_bytes">
  </div>
</div>

<div class="row" ng-show="resource.last_detach_timestamp">
  <div class="s12 col">
    <strong>Last Detach Timestamp</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.last_detach_timestamp | date:'yyyy-MM-dd HH:mm:ss'">
  </div>
</div>

<div class="row" ng-show="resource.last_attach_timestamp">
  <div class="s12 col">
    <strong>Last Attach Timestamp</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.last_attach_timestamp | date:'yyyy-MM-dd HH:mm:ss'">
  </div>
</div>

<div class="row" ng-show="resource.description">
  <div class="s12 col">
    <strong>Description</strong>
  </div>

  <div class="s12 col" ng-bind="resource.description">
  </div>
</div>

<div class="row" ng-show="resource.creation_timestamp">
  <div class="s12 col">
    <strong>Creation Timestamp</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.creation_timestamp | date:'yyyy-MM-dd HH:mm:ss'">
  </div>
</div>

<div class="row" ng-show="info.disk_type">
  <div class="s12 col">
    <h5>Disk Type</h5>
  </div>

  <div class="s12 col attributes-name">
    <svg><use xlink:href="{{info.disk_type.image}}" /></svg><a ng-click=
    "selectResource(info.disk_type)">{{info.disk_type.name}}</a>
  </div>
</div>

<div class="row" ng-show="resource.source_image_id">
  <div class="s12 col">
    <strong>Source Image ID</strong>
  </div>

  <div class="s12 col" ng-bind="resource.source_image_id">
  </div>
</div>

<div class="row" ng-show="info.source_image">
  <div class="s12 col">
    <strong>Source Image</strong>
  </div>

  <div class="s12 col" ng-bind="info.source_image">
  </div>
</div>

<div class="row" ng-show="resource.source_snapshot_id">
  <div class="s12 col">
    <strong>Source Snapshot ID</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.source_snapshot_id">
  </div>
</div>

<div class="row" ng-show="info.source_snapshot">
  <div class="s12 col">
    <strong>Source Snapshot</strong>
  </div>

  <div class="s12 col" ng-bind="info.source_snapshot">
  </div>
</div>

<div ng-show="info.instances.length">
  <div class="row">
    <div class="s12 col">
      <h5>Users</h5>
    </div>
  </div>

  <div ng-repeat="instance in info.instances track by $index">
    <div class="row">
      <div class="s12 col attributes-name">
        <svg><use xlink:href="{{instance.image}}" /></svg><a ng-click=
        "selectResource(instance)">{{instance.name}}</a>
      </div>
    </div>
  </div>
</div>

<div ng-show="resource.licenses.length">
  <div class="row">
    <div class="s12 col">
      <h5>Licenses</h5>
    </div>
    <div class="s12 col">
      <ul>
        <li ng-repeat="licenses in resource.licenses">{{licenses}}</li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="resource.resource_policies.length">
  <div class="row">
    <div class="s12 col">
      <h5>Resource Policies</h5>
    </div>
    <div class="s12 col">
      <ul>
        <li ng-repeat="policy in resource.resource_policies">{{policy}}</li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="info.replica_zones.length">
  <div class="row">
    <div class="s12 col">
      <h5>Replica Zones</h5>
    </div>
    <div class="s12 col">
      <ul>
        <li ng-repeat="zone in info.replica_zones">{{zone}}</li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="resource.guest_os_features.length">
  <div class="row">
    <div class="s12 col">
      <h5>Guest Os Features</h5>
    </div>
  </div>

  <div ng-repeat="guest_os_features in resource.guest_os_features">
    <div class="row" ng-show="guest_os_features.type">
      <div class="s5 col">
        <strong>Type</strong>
      </div>

      <div class="s7 col" ng-bind="guest_os_features.type">
      </div>
    </div>
  </div>
</div>
