<div class="row sub-title">
  <div class="s12 col">
    <small ng-if="resource.project">
      <strong>Project</strong><br />
      <span ng-bind="resource.project"></span>
    </small>
  </div>

</div>

<div class="row" ng-show="resource.proxy_header">
  <div class="s5 col">
    <strong>Proxy Header</strong>
  </div>

  <div class="s7 col" ng-bind="resource.proxy_header">
  </div>
</div>

<div class="row" ng-show="resource.creation_timestamp">
  <div class="s12 col">
    <strong>Creation Timestamp</strong>
  </div>

  <div class="s12 col" ng-bind=
  "resource.creation_timestamp | date:'yyyy-MM-dd HH:mm:ss'">
  </div>
</div>

<div class="row" ng-show="resource.description">
  <div class="s12 col">
    <strong>Description</strong>
  </div>

  <div class="s12 col" ng-bind="resource.description">
  </div>
</div>

<div class="row" ng-show="info.backend_service">
  <div class="s12 col">
    <h5>Service</h5>
  </div>

  <div class="s12 col attributes-name">
    <svg><use xlink:href="{{info.backend_service.image}}" /></svg><a ng-click=
    "selectResource(info.backend_service)">{{info.backend_service.name}}</a>
  </div>
</div>

<div class="row" ng-show="info.forwarding_rule">
  <div class="s12 col">
    <h5>Forwarding Rule</h5>
  </div>

  <div class="s12 col attributes-name">
    <svg><use xlink:href="{{info.forwarding_rule.image}}" /></svg><a ng-click="selectResource(info.forwarding_rule)">{{info.forwarding_rule.name}}</a>
  </div>
</div>
