<div class="row sub-title">
  <div class="s9 col">
    <strong>Connecting</strong>
    <a ng-click="selectResource(info.vpn_gateway)">{{info.vpn_gateway.name}}</a>
    <strong>to</strong>
    <a ng-click="selectResource(info.customer_gateway)">{{info.customer_gateway.name}}</a>
  </div>
</div>

<!-- ATTRIBUTES!!! -->
<div class="row">
  <div class="s5 col"><strong>State</strong></div>
  <div class="s7 col" ng-bind="resource.status"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Connection Type</strong></div>
  <div class="s7 col" ng-bind="resource.connection_type"></div>
</div>
<div class="row">
  <div class="s5 col"><strong>Routing</strong></div>
  <div class="s7 col" ng-show="!resource.options">Dynamic</div>
  <div class="s7 col" ng-show="resource.options.static_routes_only">Static</div>
</div>
<div class="row" ng-show="resource.stickiness_enabled === 'true'">
  <div class="s6 col"><strong>Stickiness </strong></div>
  <div class="s6 col"><span class="octicon octicon-check good"></span></div>
</div>

<div ng-show="resource.vgw_telemetry.length > 0">
  <div class="row">
    <div class="s10 col end"><h5>VGW Telemetry/Tunnel</h5></div>
  </div>
  <div class="row">
    <div class="s6 col"><strong>IP Address</strong></div>
    <div class="s6 col"><strong>Status Details</strong></div>
  </div>
  <div class="row">
    <div ng-repeat="vgw in resource.vgw_telemetry">
      <div class="s6 col">{{vgw.outside_ip_address}}</div>
      <div class="s6 col">{{vgw.status_message}}</div>
    </div>
  </div>
</div>

<div ng-show="resource.routes.length > 0">
  <div class="row">
    <div class="s10 col end"><h5>Routes</h5></div>
  </div>
  <div class="row">
    <div class="s4 col"><strong>IP Prefix</strong></div>
    <div class="s4 col"><strong>Source</strong></div>
    <div class="s4 col"><strong>State</strong></div>
  </div>
  <div class="row">
    <div ng-repeat="route in resource.routes">
      <div class="s4 col">{{route.destination_cidr_block}}</div>
      <div class="s4 col">{{route.source}}</div>
      <div class="s4 col">{{route.state}}</div>
    </div>
  </div>
</div>

<div ng-show="info.vpn_gateway">
  <div class="row">
    <div class="s12 col"><h5>VPN Gateway</h5></div>
  </div>
  <div class="row">

    <div class="s12 col attributes-name"><svg><use xlink:href="{{info.vpn_gateway.image}}" /></svg><a ng-click="selectResource(info.vpn_gateway)">{{info.vpn_gateway.name}}</a></div>
  </div>
</div>