$hava-font-path: "../node_modules/hava-fonts/fonts/";
@import "node_modules/hava-fonts/fonts/fonts";

$octicons-font-path: "../node_modules/octicons/octicons/";
@import "node_modules/octicons/octicons/octicons.scss";

$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

$material-icons-font-path: '../node_modules/material-icons/iconfont/';

@import '../node_modules/material-icons/iconfont/material-icons.scss';